
body {
    background-color: #fff;
    font-family: Verdana;
    text-align: center;
}

h1 {
  color: #00539CFF;
  font-size: 60px;
  margin-bottom: 40px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

      .form-control {
    text-align: left;
    margin-bottom: 25px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color: #00539CFF;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    color: #fff;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 40px;
}
button:hover {
    background-color: #4c9e9e
}