/* DECLARATION */
          
body {
  background-color: #fff;
  font-family: Verdana;
  text-align: center;
  color: #00539CFF;
}

.container {
  display: flex;
  width: 100px; 
  height: 100px; 
  flex-wrap: wrap;
}

.container .box {
  flex-basis: 50%;
}

.start {
  width: 200px;
  height: 200px;
  margin-left: 25px;
}

.kubeimg{
  width: 250px;
  height: 250px;
}

.small-flex {
  float: left;
}

#small-flex {
  float: right;
  font-size: 30px;
}

.small-flex {
  display: flex;
}

.flex-child:first-child {   
  margin-right: 20px;
}

.green {
  text-align: center;
  margin-left: 30px;
}

.magenta {
  width: 1800px;
  margin-top: 5%;
  font-size: 30px;
}

h1 {
  font-size: 60px;
}